@import '../../global';

.main-page {
    width: 100%;
    height: 100vh;
    background: $darkest;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}