@import '../../global';

.videolist {
    width: calc(100% - 1em);
    height: calc(100% - 1em);
    grid-column: 2 / 13;
    grid-row: 1 / 13;
    padding: .5em;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-gap: .5em;

    &--2 {
        grid-template-columns: repeat(2, 50%);
    }

    &--3 {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
    }

    &__video {
        width: 100%;
        height: 100%;
        background: $darker;
        border-radius: .2em;
        position: relative;
        border: 1px solid transparent;
        transition: border .3s ease-in-out;

        &--speaking {
            border: 1px solid $brand;
        }

        &:hover &__data {
            transition: opacity .3s ease-in;
            opacity: 1;
        }

        &__data {
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background: rgba($darker, .5);
            transition: opacity .3s ease-out;

            svg {
                color: $white;
                font-size: 2rem;
                cursor: pointer;
            }
        }

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}