@import '../../global';

.controls {
    grid-row: 1 / 13;
    grid-column: 1 / 2;
    background: $darker;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        cursor: pointer;
        transition: background .3s ease-in-out;

        svg {
            color: $white;
        }
    }

    &__microphone {
        &--muted {
            background: #fa5a5a;

            &:hover {
                background: #b64141;
            }
        }

        &--unmuted {
            background: $brand;

            &:hover {
                background: darken($brand, 10%);
            }
        }
    }

    &__stream-stop {
        background: #fa5a5a;

        &:hover {
            background: #b64141;
        }
    }

    &__camera {
        background: $brand;

        &:hover {
            background: darken($brand, 10%)
        }

        svg {
            font-size: 1.8rem;
            color: $white;
        }
    }

    &__settings {
        background: $brand;

        &:hover {
            background: darken($brand, 10%);
            animation: settingSpin 1s linear;
        }

        svg {
            font-size: 1.8rem;
            color: $white;
        }
    }

    @keyframes settingSpin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    &__screenshare {
        background: $brand;

        &:hover {
            background: darken($brand, 10%);
        }

        svg {
            font-size: 1.8rem;
            color: $white;
        }
    }
    
    &__chat {
        background: $brand;

        &:hover {
            background: darken($brand, 10%);
        }

        svg {
            font-size: 1.8rem;
            color: $white;
        }
    }
}